#onepage-main {
    position: relative;
    max-width: 800px;
    margin: 100 auto 0 auto;
    display: flex;
}

.crow-mascot {
    max-width: 350px;
}

.onepage-title {
    font-size: 35pt;
    margin-bottom: 0;
    line-height: .8;
}

.onepage-left {
    position: relative;
    width: 80%;
}

.onepage-footer {
    position: absolute;
    font-size: 80%;
    bottom: 0;
    right: 15px;
}